#cv-preview {
    background-color: #fafafa;
}



.cv-avatar {
    /* display: inline-block; */
    margin: auto;
    width: 190px;
    height: 190px;
    /* float: left; */
}

img {
    border: 4px #ff7f29 solid;
    border-radius: 50%!important;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 20px;
}

.first-name {
    color: #7f7f7f;
}

.last-name {
    color: #FB6306;
}

.career {
    color: #888888;
    font-size: 20px;
}

.cv-contact {
    padding-top: 20px;
}

.cv-left-content {
    background-color: #2B3743;
    padding: 20px 15px;
}

.cv-right-content {
    padding-left: 15px;
}

.cv-contact > div {
    margin-bottom: 16px;
}

.cv-contact span {
    border-radius: 16px;
    color: white;
    font-size: 17px;
    max-width: 275px;
    white-space: nowrap;
}

.cv-contact span a {
    color: #fff;
    text-decoration: none;
}

.cv-contact span a:hover {
    color: #d6d856;
}

.cv-contact span i.fa {
    color: #d6d856;
}

.cv-main-bottom {
    margin-top: 10px;
    min-height: 560px;
}

.cv-main-left {
    color: #444;
    padding: 0 10px 30px 0;
    height: auto;
}

.block-title {
    display: inline-block;
    max-width: 270px;
    background-color: #ff7f29;
    border-radius: 10px 10px 10px 0;
    padding: 8px 10px; 
    margin: 12px 0 10px;
    text-transform: uppercase;
}

.block-title h4 {
    font-size: 18px;
    color: white;
    margin: 0;
}

.block-title h4 i.fa {
    margin-right: 10px;
}


.education-table .row {
    display: block;
    flex-wrap: inherit;
    margin-left: 0px;
    margin-right: 0;
}

.cv-main-left .row {
    margin: 10px 0;
}

.row-title {
    margin-bottom: 5px;
    width: 100%;
    padding-left: 0;
}

.education-school {
    color: #444;
    font-size: 16px;
    float: left;
    font-weight: 700;
    padding-right: 5px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

.education-time {
    color: #777;
    font-size: .85rem;
    text-transform: uppercase;
    width: 100%;
}

.education-title-small {
    font-size: 19px;
}


.cv-block-title {
    padding: 5px 12px;
}

.cv-main-right {
    background-color: #fff;
    color: #444;
    float: right;
    height: 100%;
    min-height: 560px;
    width: 100%;
}

.skills-title-item {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
}

.yourself-details {
    font-size: 20px;
}

.interest-table {
    margin: 0;
    padding-left: 0 !important;
}

.interest-table .row {
    color: white;
    margin-bottom: 10px;
}

.interest-table li {
    display: list-item!important;
    list-style: none;
    width: 100%;
}

.interest-details {
    font-size: 19px;
}

.cv-objective {
    padding: 0;
}

.cv-objective-item {
    font-size: 20px;
}

.icon-contact {
    margin-right:  10px !important;
}

/* .content-link-demo {
    width: max-content;
    font-size: 18px;
} */

.link-demo {
    display: flex;
    flex-flow: wrap;
    font-size: 20px;
}


.cv-experience-item .link-demo a {
    text-decoration: none;
}

.cv-experience-item .link-demo a:hover {
    color: darkmagenta;
    text-decoration: underline;
}

.facebook span a:hover {
    color: cornflowerblue;
}

.facebook span a {
     color: white;
     text-decoration: none;
}

.icon-left {
    color: #ff7f29;
}

/* li .demo-projects-list {
    margin-left: 15px;
} */
li .link-project-item {
    margin-left: 10px;
}


@media (min-width: 992px) {
    .profile-name-fix-mobile {
        display: none;
    }
}

@media (max-width: 991px) {
    .cv-left-content {
        border-radius: 0 0 8px 8px;
    }
    .profile-name {
        display: none;
    }
    .profile-name-fix-mobile {
        text-align: center;
        margin-top: 20px;
    }

    .fix-mobile {
        display: flex;
        justify-content: space-between;
    }  

    .fix-mobile .cv-contact {
        padding-top: 0;
    }
}


@media (max-width: 767px) {
    .fix-mobile {
        display: unset;
    }
    
}

@media (max-width:580px) {
    
    .cv-avatar {
        width: 140px;
        height: 140px;
    }
    .cv-left-content .name {
        font-size: 25px;
        text-align: center;
    }
    .cv-left-content .career {
        font-size: 15px;
        text-align: center;
    }
    
    .cv-objective-item {
        font-size: 15px;
        white-space: inherit;
    }
    
    .block-title {
        padding: 5px 8px;
    }

    .block-title h4{
        font-size: 16px;
    }
    .yourself-details {
        font-size: 15px;
    }
    .interest-details {
        font-size: 15px;
    }
    /* li .demo-projects-list {
        margin-left: 0;
    } */
    li .link-project-item {
        margin-left: 0;
    }
    li .link-project-item a{
        word-break: break-all;
    }
}
@media (max-width: 920px) {
    #cv-preview {
        margin: 0;
    }

    .cv-left-content .name {
        font-size: 32px;
    }
    .cv-left-content .career {
        font-size: 18px;
    }
    .cv-contact span {
        font-size: 14px;
    }
    .cv-objective-item {
        font-size: 16px;
    }
    .block-title {
        font-size: 18px;
    }
    .education-school {
        font-size: 13px;
    }
    .education-title-small {
        font-size: 15px;
    }
    .yourself-details {
        font-size: 16px;
    }
    .skills-title-item {
        font-size: 14px;
    }
    .interest-details {
        font-size: 16px;
    }
    
}



